@import "variables";
@import "base";

body {
  border: 5px solid #df1616;
}




header{
  border: 20px solid #e01515;
  background-size: cover;
  background-repeat: no-repeat;

.invest{
  border: 5px solid #e01515;
    }

.project {
  border: 5px solid #e01515;
      }
    

.transformation {
  border: 5px solid #e01515;
      }
    }